node-red-flow.json
[
  {
    "id": "6bb4f03.584a81",
    "type": "twilio out",
    "z": "67bc6c4d.12dd34",
    "service": "_ext_",
    "twilio": "a65be663.9dae08",
    "from": "",
    "number": "+447843136893",
    "name": "ding-dong-nc!",
    "x": 714.5,
    "y": 100,
    "wires": []
  },
  {
    "id": "94f7c87c.867da8",
    "type": "http in",
    "z": "67bc6c4d.12dd34",
    "name": "dash-button-req",
    "url": "/ding-dong",
    "method": "get",
    "swaggerDoc": "",
    "x": 102.5,
    "y": 154,
    "wires": [
      [
        "56c948c9.94fb18",
        "6bc8312a.ae006",
        "2fcd6c87.233db4"
      ]
    ]
  },
  {
    "id": "9d295b94.54a3c8",
    "type": "twilio out",
    "z": "67bc6c4d.12dd34",
    "service": "_ext_",
    "twilio": "a65be663.9dae08",
    "from": "",
    "number": "+447427673226",
    "name": "ding-dong-ds!",
    "x": 722,
    "y": 192,
    "wires": []
  },
  {
    "id": "56c948c9.94fb18",
    "type": "http response",
    "z": "67bc6c4d.12dd34",
    "name": "dash-button-res",
    "x": 338.5,
    "y": 153,
    "wires": []
  },
  {
    "id": "dd1aa516.328da8",
    "type": "template",
    "z": "67bc6c4d.12dd34",
    "name": "template-txt",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Hello {{name}}! I think there is somebody at the front door",
    "x": 512.5,
    "y": 193,
    "wires": [
      [
        "b086a4cd.5a8d18",
        "9d295b94.54a3c8"
      ]
    ]
  },
  {
    "id": "6bc8312a.ae006",
    "type": "function",
    "z": "67bc6c4d.12dd34",
    "name": "add-name-ds",
    "func": "msg.name = 'Donal'\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 306.5,
    "y": 206,
    "wires": [
      [
        "dd1aa516.328da8"
      ]
    ]
  },
  {
    "id": "2fcd6c87.233db4",
    "type": "function",
    "z": "67bc6c4d.12dd34",
    "name": "add-name-nc",
    "func": "msg.name = 'Tanashasaurus'\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 305,
    "y": 93,
    "wires": [
      [
        "d00d04dd.e51d98"
      ]
    ]
  },
  {
    "id": "b086a4cd.5a8d18",
    "type": "debug",
    "z": "67bc6c4d.12dd34",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 707.5,
    "y": 144,
    "wires": []
  },
  {
    "id": "d00d04dd.e51d98",
    "type": "template",
    "z": "67bc6c4d.12dd34",
    "name": "template-txt",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Hello {{name}}! I think there is somebody at the front door",
    "x": 512,
    "y": 97,
    "wires": [
      [
        "6bb4f03.584a81",
        "b086a4cd.5a8d18"
      ]
    ]
  },
  {
    "id": "a65be663.9dae08",
    "type": "twilio-api",
    "z": "",
    "sid": "ACa8d19dbaca2e93f96ca0eb45ba3fe07d",
    "from": "+441904500491",
    "name": "twilio-springdo"
  }
]